#arrowAnim {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .arrow {
    width: 1.5vw;
    height: 1.5vw;
    border: 0.3vw solid;
    border-color: black transparent transparent black;
    transform: rotate(130deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 3s linear infinite; 
            animation: slide 3s  linear infinite;
            animation-direction:reverse;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s; 
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  .delay4 {
    -webkit-animation-delay: 3s; 
    animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }	
     20% { opacity:1; transform: translateX(9vw); }	
     80% { opacity:1; transform: translateX(-9vw); }	
    100% { opacity:0; transform: translateX(-15vw); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }	
     20% { opacity:1; transform: translateX(9vw); }	
     80% { opacity:1; transform: translateX(-9vw); }	
    100% { opacity:0; transform: translateX(-15vw); }	
  }